<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= title %></title>

  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!--

  Powered by:

  '||''''|
   ||  .   ... ...... ...... ..   ....  ....  ....
   ||''|    '|..'  ||'  ||||' ''.|...||||. ' ||. '
   ||        .|.   ||    |||    ||     . '|... '|..
  .||.....|.|  ||. ||...'.||.    '|...'|'..|'|'..|'
                   ||
                   ||

  using node.js version <%= node_version %>

  -->

  <!-- Spiders must use meta description -->
  <meta name="robots" content="noodp, noydir">

  <!-- Google Verfication -->
  <meta name="google-site-verification" content="<%= googleWebmasterMeta %>" />

  <!-- Viewport and mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.theme.default.min.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-shadow.min.css' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-light.min.css' rel='stylesheet' type='text/css'>
  <link href='//192.168.56.101:8080/uploadify/uploadify.css' rel='stylesheet' type='text/css'>

  <link href="/css/app.css" rel="stylesheet">



</head>
<body ng-controller="Base" file-import-drop-target>
  <input type="file" accept=".md,.markdown" file-import-choose-file />

  <form method="POST" id="downloader">
    <input type="hidden" name="name">
    <input type="hidden" name="unmd">
    <input type="hidden" name="formatting">
    <input type="hidden" name="preview">
  </form>

  <%- include splashscreen %>

  <%- include dropdowns/settings %>

  <div class="wrapper">
    <%- include sidebar %>
    <%- include notification %>

    <div class="page">
      <%- include navbar %>
      <%- include overlay %>
      <%- include title %>

      <!-- s Fileupload -->
      <%- include fileupload %>
      <!-- e Fileupload -->

      <!-- s Carousel -->
      <%- include carousel %>
      <!-- e Carousel -->

      <div class="g mnone">
        <%- include editor-headers %>
        <%- include editor %>
        <%- include preview %>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
  <script src="//192.168.56.101:8080/uploadify/jquery.uploadify.js"></script>
  <script>
    $(function() {
      // 提示
      var tooltipInstance = $('.tooltip').tooltipster({
        trigger: 'hover',
        animation: 'fade',
        delay: 300,
        content: 'Copy to clipboard',
        functionAfter: function(instance, helper){
          $(instance[0]).tooltipster('content', 'Copy to clipboard');
        }
      });
      // 图片滚动
      $('.owl-carousel').owlCarousel({
        items: 4,
        margin: 4,
        autoWidth: true
      });
      // 复制到剪贴板
      var clipboard = new Clipboard('.item > img', {
        text: function(trigger) {
          var qiniuUrl = trigger.getAttribute('data-qiniu-url');
          trigger.setAttribute('data-copied', true);
          return "![Alt text](" + qiniuUrl + ")";
        }
      }).on('success', function(e) {
        // Modify tooltip
        $(e.trigger).tooltipster('content', 'Copied');
        console.debug('copied!');
      });
      // 文件上传
      $("#file_upload").uploadify({
        height        : 30,
        swf           : 'http://192.168.56.101:8080/uploadify/uploadify.swf',
        uploader      : 'http://192.168.56.101:8080/upload',
        width         : 120
      });
    });
  </script>

  <%- include footer %>
</body>
</html>
